{% extends 'ChequeClearingSystem/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <h3>Login</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'ChequeClearingSystem/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">
                                        Submit
                                    </button>

                                </div>
                            </div>
                        </form>
                        <form>
{#                            {% csrf_token %}#}
                            <button type="submit" formaction="{% url 'ChequeClearingSystem:register' %}">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
